<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link id="favicon" rel="shortcut icon" type="image/png" href="static/favicon_grey.png" />

        <link href="https://cdn.rawgit.com/olton/Metro-UI-CSS/master/build/css/metro.min.css" rel="stylesheet">
        <link href="https://cdn.rawgit.com/olton/Metro-UI-CSS/master/build/css/metro-icons.min.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
        <script src="https://cdn.rawgit.com/olton/Metro-UI-CSS/master/build/js/metro.min.js"></script>
        <script src="https://cdn.rawgit.com/jhuckaby/webcamjs/master/webcam.min.js"></script>
        <script src="https://cdn.rawgit.com/broofa/node-uuid/master/uuid.js"></script>

        <title>tPresent</title>
    </head>

    <body class="bg-grayDark">
        <!-- Configuration panel -->
        <div class="panel bg-dark" data-role="panel">
            <!-- Header -->
            <div class="heading bg-grayDarker">
                <span class="icon mif-wrench bg-grayLight"></span>
                <span class="title">tPresent</span>
            </div>

            <!-- Content -->
            <div class="content padding10 fg-white bg-grayDark">
                <div class="grid">
                    <div class="row cells4">

                        <!-- Display name -->
                        <div class="cell">
                            <div class="input-control text full-size">
                                <label>Display name</label>
                                <span class="mif-user prepend-icon"></span>
                                <input type="text" id="display_name">
                            </div>
                        </div>

                        <!-- Room name -->
                        <div class="cell">
                            <div class="input-control text full-size">
                                <label>Room name</label>
                                <span class="mif-organization prepend-icon"></span>
                                <input type="text" id="room_name">
                            </div>
                        </div>

                        <!-- Live -->
                        <div class="cell">
                            <div class="grid align-right">
                                <div class="row cells2">
                                    <div class="cell">
                                        <h4 class="align-right no-margin">On air</h4>
                                    </div>
                                    <div class="cell align-left">
                                        <label class="switch">
                                            <input type="checkbox" id="on_air">
                                            <span class="check margin5"></span>
                                        </label>
                                        <span id="on_air_icon" class="mif-feed mif-ani-heartbeat mif-ani-slow fg-red no-visible" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- GitHub -->
                        <div class="cell align-right">
                            tPresent on <a href="https://www.github.com/gpailler/tpresent">GitHub</a>
                            <br />
                            Version {{ version }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Refresh progression -->
        <div id="refresh" class="progress small no-margin no-visible" data-role="progress" style="height: 3px;"></div>

        <!-- Pictures -->
        <div id="tiles-container" class="tile-container no-visible">
        </div>

        <!-- Information popups -->
        <div id="default-message" class="dialog padding30" data-role="dialog">
            <h2>tPresent</h2>
            Please fill <strong>Display name</strong>, <strong>Room name</strong> and activate <strong>On air</strong>.
        </div>
        <div id="error-message" class="dialog padding30" data-role="dialog" data-type="alert">
            <h2>Error</h2>
            <p />
        </div>


        <div id="video" style="display:none;"></div>

        <script language="JavaScript">
            var animationDelay = 250;
            var scriptroot = {{ request.script_root|tojson|safe }};
            var refreshTimer;
            var refreshProgressionTimer;
            var uniqueId;

            $(function()
            {
                showMetroDialog('div#default-message');

                // Retrieve local storage data
                $('input#display_name').val(localStorage.getItem('display_name'));
                $('input#room_name').val(localStorage.getItem('room_name'));
                $('input#on_air').attr('autocomplete', 'off');

                // Generates/retrieve an unique Id
                uniqueId = localStorage.getItem('unique_id');
                if (uniqueId == null)
                {
                    uniqueId = uuid.v1();
                    localStorage.setItem('unique_id', uniqueId);
                }

                // On air button (stream activation/deactivation)
                $('input#on_air').change(function()
                {
                    if($(this).is(":checked"))
                    {
                        startOnAir();
                    }
                    else
                    {
                        stopOnAir();
                    }
                });
            });

            function startOnAir()
            {
                // Cancel on air if fields are not filled
                $('input#display_name').removeClass('error');
                $('input#room_name').removeClass('error');

                var hasError = false;
                if ($('input#display_name').val().length == 0)
                {
                    $('input#display_name').addClass('error');
                    hasError = true;
                }

                if ($('input#room_name').val().length == 0)
                {
                    $('input#room_name').addClass('error');
                    hasError = true;
                }

                if (hasError)
                {
                    $('input#on_air').attr('checked', false);
                    return;
                }

                // Add extra delay to not block checkbox animation
                setTimeout(function() { initWebcam(onWebcamStarted, onWebcamError); }, animationDelay);
            }

            function stopOnAir()
            {
                setTimeout(releaseWebcam, animationDelay);

                $('#favicon').attr('href', 'static/favicon_grey.png');

                hideAll();
                disableInputsEdition(false);
                showMetroDialog('div#default-message');

                clearTimeout(refreshTimer);
                clearInterval(refreshProgressionTimer);
            }

            function onWebcamStarted()
            {
                // Set local storage
                localStorage.setItem('display_name', $('input#display_name').val());
                localStorage.setItem('room_name', $('input#room_name').val());

                hideAll();
                disableInputsEdition(true);
                $('div#tiles-container').removeClass('no-visible');
                $('span#on_air_icon').removeClass('no-visible');
                $('div#refresh').removeClass('no-visible');
                $('div#refresh').data('progress').set(0);

                $('#favicon').attr('href', 'static/favicon_red.png');

                // Call sendPresence after a small delay to avoid first black/dark frane
                setTimeout(sendPresence, animationDelay);
            }

            function onWebcamError(err)
            {
                stopOnAir();
                $('input#on_air').attr('checked', false);
                if (err.name == 'PermissionDeniedError')
                {
                    showError('Unable to access capture device. Please authorized camera access.');
                }
                else
                {
                    showError('Unable to access capture device: ' + err.name + ' ' + err.message);
                }
            }

            function showError(msg)
            {
                hideAll();
                $('div#error-message').find('p').text(msg);
                showMetroDialog('div#error-message');
            }

            function hideAll()
            {
                $('div#tiles-container').addClass('no-visible');
                $('span#on_air_icon').addClass('no-visible');
                $('div#refresh').addClass('no-visible');
                hideMetroDialog('div#error-message');
                hideMetroDialog('div#default-message');
            }

            function disableInputsEdition(flag)
            {
                $('input#display_name').attr('disabled', flag);
                $('input#room_name').attr('disabled', flag);
            }

            function startRefreshProgression()
            {
                clearInterval(refreshProgressionTimer);

                var updateInterval = 1000;
                var step = {{ refresh_interval }};
                var step = 100 / (step / updateInterval);
                var progression = $('div#refresh').data('progress');
                var val = 0;

                var favicon_color = 'red';
                refreshProgressionTimer = setInterval(function()
                {
                    // Simulate favicon blink before taking a new screenshot
                    if (val >= 90)
                    {
                        favicon_color = favicon_color == 'red' ? 'blue' : 'red';
                        $('#favicon').attr('href', 'static/favicon_' + favicon_color + '.png');
                    }

                    val += step;
                    progression.set(val);
                    if (val >= 100)
                    {
                        favicon_color = 'red;'
                        $('#favicon').attr('href', 'static/favicon_red.png');
                        clearInterval(refreshProgressionTimer);
                    }
                }, updateInterval);
            }

            function initWebcam(onSuccess, onError)
            {
                // Initialize video capture stuff
                Webcam.set({
                    width: 1,
                    height: 1,
                    dest_width: {{ capture_width }},
                    dest_height: {{ capture_height }},
                    image_format: 'jpeg',
                    jpeg_quality: 80,
                    fps: 1,
                    enable_flash: false
                });

                Webcam.on('error', onError);
                Webcam.on('live', onSuccess);

                Webcam.attach('#video');
            }

            function releaseWebcam()
            {
                Webcam.off('error');
                Webcam.off('live');
                Webcam.reset();
            }

            function sendPresence()
            {
                var image;
                Webcam.snap(function(data_uri) { image = data_uri });

                var time = new Date().toTimeString().substr(0,5);
                $.ajax(
                {
                    url: scriptroot + '/presence/' + $('input#room_name').val(),
                    contentType: 'application/json;charset=UTF-8',
                    type: 'POST',
                    data: JSON.stringify(
                    {
                        display_name: $('input#display_name').val(),
                        image: image,
                        time: time,
                        unique_id: uniqueId
                    })
                })
                .done(function(response)
                {
                    getPresences();
                })
                .fail(function(error)
                {
                    console.log(error);
                })
                .always(function(data)
                {
                    refreshTimer = setTimeout(sendPresence, {{ refresh_interval }});
                    startRefreshProgression();
                });
            }

            function getPresences()
            {
                $.ajax(
                {
                    url: scriptroot + '/presence/' + $('input#room_name').val(),
                    contentType: 'application/json;charset=UTF-8',
                    type: 'GET',
                    success: function(response)
                    {
                        // Remove all tiles
                        $('div#tiles-container').find('.tile-member').remove();

                        // Sort members by name but display myself at first position
                        var members = response.members;
                        members.sort(function(x, y)
                        {
                            if (x['unique_id'] == uniqueId) return -1;
                            if (y['unique_id'] == uniqueId) return 1;

                            var x = x['display_name'].toLowerCase();
                            var y = y['display_name'].toLowerCase();

                            return x < y ? -1 : x > y ? 1 : 0;
                        });

                        for (var i = 0; i < members.length; i++)
                        {
                            var display_name = members[i]['display_name'];
                            var image = members[i]['image'];
                            var time = members[i]['time'];
                            if (members[i]['unique_id'] == uniqueId)
                            {
                                display_name = 'Me';
                            }

                            $('div#tiles-container').append(
                                '<div class="tile-member tile-big bg-grayLight fg-white" style="width:450px; height:330px;" data-role="tile">' +
                                    '<div class="tile-content">'+
                                        '<div class="tile-label">' + display_name + '</div>' +
                                        '<div class="tile-label full-size align-right" style="padding-right: 25px;">' + time + '</div>' +
                                        '<img src="' + image + '" />' +
                                    '</div>' +
                                '</div>');
                        }
                    },
                    error: function(error)
                    {
                        console.log(error);
                    }
                });
            }
        </script>
    </body>
</html>

